<!DOCTYPE html>
<html>
  <head>
    <title>Realestate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1 id="title"><a class="header" href="/"> TheFakeDomain </a><span id="hehe">You picked the wrong site fool </span></h1>
      <hr>
      <nav>
        <h3><span><%= link_to "Find Agents", agents_path, :class => "header" %></span>
        <span><%= link_to "Watchlist", watches_path, :class => "header" %></span>
        <span><%= link_to "For Sale", properties_path, :class => "header" %></span>
        <span><%= link_to "Login", login_path, :class => "header" %></span>
        <span><%= link_to "Sign Up", new_user_path, :class => "header" %></span>
        <span><%= link_to "Sign Out", login_path, method: "delete", :class => "header" %></span>
        <span><%= link_to "Placeholder", "", :class => "header" %></span></h3>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
